#root{
  text-align: center
}

.board{
  display: inline-block;
  text-align: left;
  width: 70%;
}

.board-header {

}

.board-body {
  overflow-y: scroll;
  height: 500px;
}

.board-message {

}

.message {
  padding: 10px 0;
  border: 1px solid #e2dcdc;
  word-break : break-all;
}

#messageInput {
  padding: 5px;
}

#messageSubmit {
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;

  /* hover */
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#messageSubmit:hover {
  background-color: white;
  color: #4CAF50;
}

#messageClear {
  background-color: #555555;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;

  /* hover */
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#messageClear:hover {
  background-color: white;
  color: #555555;
}